.container {
  width: 90%;
  height: 150px;
  margin: 0 auto;
}
.card {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 28%;
  height: 150px;
  background-color: aqua;
  color: white;
  font-family: sans-serif;
  padding: 15px 15px;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  width: 165px;
  height: 165px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.card ~ .card {
  margin-left: 15px;
}
.card::after {
  top: -23px;
  right: -63px;
}
.card::before {
  bottom: -69px;
  right: -14px;
}
.head-description {
  font-size: 18px;
}
.count {
  font-size: 24px;
  font-weight: bolder;
}

.results {
  font-size: 15px;
}

.card:nth-child(3n + 1) {
  background: rgb(254, 192, 152);
  background: linear-gradient(
    90deg,
    rgba(254, 192, 152, 1) 0%,
    rgba(254, 130, 152, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.card:nth-child(3n + 2) {
  background: rgb(140, 199, 246);
  background: linear-gradient(
    90deg,
    rgba(140, 199, 246, 1) 0%,
    rgba(20, 142, 228, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.card:nth-child(3n) {
  background: rgb(123, 218, 209);
  background: linear-gradient(
    90deg,
    rgba(123, 218, 209, 1) 0%,
    rgba(7, 205, 180, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.chart::after {
  content: url("../icons/chart-line.svg");
}

.bookmark::after {
  content: url("../icons/bookmark-outline.svg");
}
.diamond::after {
  content: url("../icons/diamond.svg");
}
.chart::after,
.bookmark::after,
.diamond::after {
  position: absolute;
  right: 45px;
}
